.header{
    background-color:black;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    

    
    
}

.header__logo{
    width: 120px;
    max-width: 130px;
    margin: 0 10px;
    margin-top: 0px;
    object-fit: contain;
    
}
.lap{
    color:rgb(230, 63, 22);
    margin-left: 10px;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    
}
.lap_1{
    color:rgb(230, 63, 22);
    margin-left: 30px;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    
}