.navlinks{
    background-color:black;
    color: red;
    
    

    

}
.navlinks__outer{
    width: 77%;
    margin: auto;
    
    padding:6px;
    
    

}
.navlinks__outer a{
    color:red;
    text-decoration: none;
    cursor: pointer;
    padding: 4px;
    
    margin-right: 10px;
    border: 1px solid black;

}
.navlinks__outer a:hover{
    border: 1px solid #fff;
    border-radius: 4px;

}
.navlinks__inner{

    display: flex;
    flex-wrap: wrap;
}
.V_button{
    background-color: black;
    color:whitesmoke;
    margin-left: 5px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom:2px;
    border: 1px solid #fff;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}
.V_button_h{
    background-color: black;
    color:rgba(241, 60, 60, 0.986);
    margin-left: 5px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom:2px;
    border: 1px solid #fff;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;

}
.navlinks_n{
    background-color:black;
    color: white;
    
    

    

}
.navlinks__outer_n{
    
    margin: auto;
    
    padding:6px;
    
    

}
.navlinks__outer_n a{
    color:whitesmoke;
    text-decoration: none;
    cursor: pointer;
    padding: 4px;
    
    margin-right: 10px;
    border: 1px solid black;

}
.navlinks__outer_n a:hover{
    border: 1px solid #fff;
    border-radius: 4px;

}
.navlinks__inner_n{

    display: flex;
    flex-wrap: wrap;
}
.buttons{
    display: flex;
    flex-direction: row;
}
.image{
    width: 100%;
    max-height: 120vh;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Events{
    margin-top: 30px;
    margin-bottom: 5px;
}